h1 {
  color: green;
}

#align {
  text align: right;
}

div-dimensions {
  text align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 100%;
}

page2 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  height: 150px;
  width: 150px;
}


page3 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

page4 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}



html, body {
  height: 100%;
}


body {
  min-height: 100vh;
  margin: 0;                 /* important: remove default body margin */
  display: flex;
  flex-direction: column;    /* stack main then footer */
}


main {
  flex: 1;                   /* this pushes the footer to the bottom */
}


footer {
  text-align: center;
  padding: 12px;       /* background-color: lightblue;  <-- optional if you want color */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: purple;         /* or your color */
  border-top: 1px solid #ddd;
}
