h1 {
  color: green;
}

#align {
  text align: right;
}

div-dimensions {
  text align: center;
}



page2 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  height: 150px;
  width: 150px;
}


page3 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

page4 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}



html, body {
  height: 100%;
}


body {
  min-height: 100vh;
  margin: 0;                 /* important: remove default body margin */
  display: flex;
  flex-direction: column;    /* stack main then footer */
}


main {
  flex: 1;                   /* this pushes the footer to the bottom */
}


/* Footer styling */
footer {
  text-align: center;
  padding: 15px;
  background-color: white; /* change if you want footer colored */
  border-top: 1px solid #ccc;
}

/* Light purple background just for Page 4 */
body.page4 {
  background-color: #e6ccff;  /* soft lavender */
  min-height: 100vh;          /* full height */
  margin: 0;
  display: flex;
  flex-direction: column;
}
